extends layout

block head
	link(href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet")
	style.
		body {
			font-family: Quicksand !important;
		}

block content
	h1 We appreciate your interest and  will get back to you shortly.

	script.
		setTimeout(function() {
			location.href = "http://www.ixion.digital"
		}, 3000);